# Ignorar chaves sensíveis
minha-chave.json
*key*.json
*secret*.json
*credentials*.json

# Arquivo específico com credenciais
.txt

# Ambiente
.env
.env.*

# Node
node_modules/

# Cache
**/cache/**
!**/cache/.gitkeep